# Carpetas con "test" en el nombre
*test*/
*Test*/

# Carpetas archive y trash
archive/
Archive/
trash/
Trash/

# R y RStudio — archivos residuales
.Rhistory
.RData
.Rproj.user/
.Rproj.user
*.Rproj
Rplots.pdf
*.Rout
*.Rout.save

# R — outputs temporales
/rsconnect/
